# Module paraphernalia
assets/
/resource-state-metrics
/resource-state-metrics-latest.tar
vendor/

# Generated intermediaries
tests/golden/metrics.txt

# `pprof` artefacts
./*.ps

# `bench` artefacts
./wget-log*

